body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    text-transform: uppercase;
    font-size: 120%;
    padding-top: 0;
}

#game {
    text-align: center;
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

#question-container, #start-screen {
    position: relative;
    gap: 24px;
}

.main-image {
    width: 57.6%;
    max-width: 288px;
    height: auto;
    margin: 15px auto;
    cursor: pointer;
    border-radius: 15px;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.option {
    width: 30%;
    max-width: 200px;
    border: 4px solid rgb(242, 242, 243);
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s;
}

.option:hover {
    transform: scale(1.05);
}

.option.selected {
    border-color: black;
}

.option.correct {
    border-color: green;
}

.option.incorrect {
    border-color: red;
}

#game-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#check-button, #start-button {
    display: inline-block;
    margin-top: 24px;
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 120%;
}

#next-arrow {
    position: absolute;
    bottom: -10px;
    right: 30px;
    width: 70px;
    height: auto;
    cursor: pointer;
    display: none;
}

#result {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
}

#star-area {
    height: 60px;
    margin: 15px 3px;
}

#stars-container, #final-stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.star-icon {
    width: 45px;
    height: auto;
    margin: 0 5px;
}

h1 {
    font-size: 200%;
    margin: 5px 0;
    margin-top: 0px;
}

h2 {
    font-size: 160%;
    margin: 15px 0;
}

button[onclick="restartGame()"] {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 120%;
}

@media (max-width: 600px) {
    #question-container {
        position: relative;
    }

    #game-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #next-arrow {
        position: static;
        width: 50px;
        margin-left: 10px;
        bottom: auto;
        right: auto;
    }
}